input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.answerInput{
	width: 6vw;
	padding: .5vw;
	border: none;
}

@media only screen and (max-width: 1024px){
	.answerInput{
		width: 18vw;
		padding: 1.8vw;
	}
}

